RPC_URL=https://rpc-amoy.polygon.technology
PK=0xYOUR_PRIVATE_KEY
PK2=0xCOUNTERPARTY_PRIVATE_KEY
CHAIN_ID=80002
CLOB_API_URL=https://clob.polymarket.com
TOKEN_ID=YOUR_TOKEN_ID
ORDER_SIZE=1.0
BUILDER_CODE=YOUR_BUILDER_CODE
COLLATERAL_TOKEN_ADDRESS=0xYOUR_PMCT_ADDRESS
WRAPPER_ADDRESS=0xYOUR_WRAPPER_ADDRESS
